    <h1>About Pat's PSLs</h1>
    <h3>Brought to you by Internet Boys Coffee Ventures </h3>
    <p>This platform allows users to connect the only natural interest combination in the world: stock markets and coffee.</p>

    <figure>
        <blockquote class="blockquote">
          <p>Pat's PSLs is how I got ahead.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
         <cite title="Source Title">Warren Buffett</cite>
        </figcaption>
      </figure>   


      <iframe width="560" height="315" src="https://www.youtube.com/embed/Tdwetb0Mvyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>