

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>We sell coffee, baked goods, and stock data </p>

    <iframe src="https://giphy.com/embed/l3fPlHQOHUzYRufm7E" width="480" height="219" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/MyNaturalForce-coffee-morning-l3fPlHQOHUzYRufm7E"></a></p>